@charset "UTF-8";
/* CSS Document */

body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	background-color: #000;
	line-height: 1.25em;
}

.bg {
    background-color: black;
    height: 100vh;
    padding: 3vh 0 0 10vw;
    width: 100vw;
}

iframe {
    height: 100%;
    width: 100%;
}

img {
	border: 10px solid rgba(255,255,255,.5);
	width:auto;
	max-width:50%;
	height:auto;
}

img.logo {
	max-width: 35%;
	display: block;
	margin: 0 auto;
	border: none;
}

.one {
		bottom: 69%;
    cursor: pointer;
    height: 29vh;
		width: 11vw;
    left: 11%;
		position: relative;
}

.two {
		bottom: 107%;
    cursor: pointer;
    height: 32vh;
		width: 12vw;
    left: 25%;
    position: relative;
}

.three {
		bottom: 147%;
    cursor: pointer;
    height: 32vh;
		width: 15vw;
    left: 40%;
    position: relative;
}

.four {
		bottom: 189%;
    cursor: pointer;
    height: 32vh;
		width: 14vw;
    left: 58.75%;
    position: relative;
}

.five {
		bottom: 225%;
    cursor: pointer;
    height: 32vh;
		width: 12vw;
    left: 76.25%;
    position: relative;
}

.item {
  display: inline-block;
	bottom: 5px;
  left: 10px;
	height: 50vh;
	width: 50vw;
    position: absolute;
	}

.video-container {
    height: 80vh;
    width: 80vw;
}

.info {
	font-size: 1.25em; /* 12 / 16 */
	color: #DD244B;
	width: 50%;
	margin: 0 auto;
	padding-top: 2vh;
}

.umc01 {
	color: #FFF;
	text-align: center;
	font-size: .75em;
}

h3 span {
	background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
	font-size: .75em;
	color: #3EB1B7;
}

a, a:visited {
		color: #3EB1B7;
    text-decoration: none;
    border-bottom: .1em dotted;
    padding-bottom: .1em;
}

a:hover {
    color: #DD244B;
    border-bottom: none;
}
